@import "tailwindcss";

:root {
  /*Backgrounds*/
  --color-background-primary: #F7F9FF;
  --color-background-secondary: #e2e2e0;

  /*Text Colors*/
  --color-dominant: #040A1E;

  /*Accent Colors*/
  --color-accent: #548EF8;
}

@theme inline {
  --color-background-primary: var(--color-background-primary);
  --color-background-secondary: var(--color-background-secondary);
  --color-dominant: var(--color-dominant);
  --color-accent: var(--color-accent);

  --font-sans: var(--font-poppins);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background-primary);
  color: var(--color-dominant);

  font-family: var(--font-poppins), Helvetica, sans-serif;
}